/* ==========================================
// Charneco Samuel
// 25.05.2020
// Version 1.0
// Site de critique de livres
// ==========================================*/
h4{
    text-align: center;
}

button[name="btnHome"]{
    margin-left: 47%;
    width: 6%;
}

/* ====== Ajout du livre ======== */
form{
    text-align: center;
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    width: 20%;
}

input{
    margin: auto;
    margin-bottom: 4%;
    display: block;
}

input[type="submit"]{
    width: 28%;
    height: 28px;
}

textarea{
    height: 10vh;
    resize: none;
}

.inputInsertBook{
    margin-bottom: 3%;
    width: 70%;
}