/* ==========================================
// Charneco Samuel
// 25.05.2020
// Version 1.0
// Site de critique de livres
// ==========================================*/

h4{
    margin-left: 41%;
}

/* ======== Affichage détails du livre ======== */
.allDescContainer{
    border: solid 2px black;
    margin: auto;
    display: block;
    margin-bottom: 2%;
    width: 40vw;
    height: 50.2vh;
}

.imgBook{
    display: inline-block;
    width: 15vw;
    height: 50vh;
}

img{
    margin-left: -26%;
    margin-left: 1.2%;
    width: 14vw;
    height: 50vh;
}

.descContainer{
    float: right;
    width: 22vw;
    height: 20vh;
}

.summary{
    float: right;
    margin-top: -30%;
    width: 22vw;
    height: 24vh;
}

/* ======== Etoile favori ======== */
.fav button {
    border: none;
    background-color: transparent;
    float: left;
    margin-top: -8.7%;
    margin-left: 14%;
    width: 1%;
    color: #aaa;
    text-decoration: none;
    font-size: 2em;
    transition: color .4s;
 }
 .fav button:hover,
 .fav button:focus,
 .fav button:hover ~ a,
 .fav button:focus ~ a {
    color: orange;
    cursor: pointer;
 }

/* ======== Formulaire de critique ======== */
form[name="frmReview"]{
    margin: auto;
    width: 30vw;
}

label{
    display: inline-block;
}

#score{
    float: right;
    margin-right: 6%;
}

textarea{
    resize: none;
    display: block;
    width: 20vw;
    height: 6vh;
}

select{
    display: block;
    margin-top: -8%;
    margin-right: 12%;
    float: right;
    width: 3vw;
    height: 3vh;
}

input{
    margin-top: 2%;
    margin-left: 40%;
    width: 20%;
    height: 3vh;
}