/* ==========================================
// Charneco Samuel
// 25.05.2020
// Version 1.0
// Site de critique de livres
// ==========================================*/

h4{
    text-align: center;
}

/* ======== Affichage détails du livre ======== */
.allDescContainer{
    border: solid 1px red;
    margin: auto;
    display: block;
    margin-bottom: 4%;
    width: 40vw;
    height: 50.2vh;
}

.imgBook{
    border: solid 1px green;
    display: inline-block;
    width: 15vw;
    height: 50vh;
}

img{
    margin-left: -26%;
    margin-left: 1.2%;
    width: 14vw;
    height: 50vh;
}

.descContainer{
    border: solid 1px green;
    float: right;
    width: 22vw;
    height: 20vh;
}

.summary{
    border: solid 1px pink;
    float: right;
    margin-top: -30%;
    width: 22vw;
    height: 24vh;
}

/* ======== Formulaire de critique ======== */
form{
    border: solid 1px black;
    margin: auto;
    width: 30vw;
}

label{
    display: inline-block;
}

#score{
    float: right;
    margin-right: 6%;
}

textarea{
    resize: none;
    display: block;
    width: 20vw;
    height: 6vh;
}

select{
    display: block;
    margin-top: -8%;
    margin-right: 12%;
    float: right;
    width: 3vw;
    height: 3vh;
}

input{
    margin-top: 2%;
    margin-left: 40%;
    width: 20%;
    height: 3vh;
}