/* ======== champ de recherche ======== */
input[name="tbxSearch"]{
    margin-left: 32.7%;
}

button[name="btnFavori"] {
    padding: 0;
    margin: 0;
    font-size: 24px;
    width: auto;
    background: none;
    border: none;
}

/* ======== Affichage des livres ======== */
.bookContainer{
    border: solid 1px red;
    position: relative;
    display: block;
    float: left;
    margin-top: 1%;
    margin-left: 6%;
    margin-bottom: 4%;
    width: 20%;
    height: 160px; 
}

img{
    margin: 2%;
    width: 5vw;
    height: 16vh;
}

.bookImg{
    border: solid 1px black;
    float: left;
    width: 34%;
    height: 99%;
}

.bookTitle{
    border: solid 1px black;
    text-align: center;
    font-size: large;
    float: right;
    padding-top: 8%;
    width: 64%;
    height: 30%;
}

.bookScoreFav{
    border: solid 1px black;
    float: right;
    width: 64%;
    height: 49%;
}