/* ==========================================
// Charneco Samuel
// 25.05.2020
// Version 1.0
// Site de critique de livres
// ==========================================*/

h2{
    border: solid 1px black;
    text-align: center;
    margin: auto;
    margin-left: 37%;
    margin-top: 3%;
    width: 40%;
}

.UserReview{
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 4px;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 43%;
    text-align: left;
    width: 28%;
    height: auto;
}

textarea{
    resize: none;
    width: 18vw;
    height: 4vh;
}

select{
    display: block;
    margin-top: -8%;
    margin-left: 80%;
    width: 3vw;
    height: 3vh;
}

input[name="btnConfirmEdit"]{
    margin-top: 4%;
    margin-left: 43%;
    width: 4vw;
    height: 3vh;
}