/* ==========================================
// Charneco Samuel
// 25.05.2020
// Version 1.0
// Site de critique de livres
// ==========================================*/

h4{
    text-align: center;
}

h2{
    border: solid 1px black;
    text-align: center;
    margin: auto;
    margin-left: 37%;
    margin-top: 3%;
    width: 40%;
}

.btnHome{
    width: 40%;
    height: 3vh;
}

.dropdownStyle{
    margin-left: 6%;
    width: 90%;
    height: 3vh;
}

/* ======== Informations du compte ======== */
fieldset{
    margin: auto;
    width: 30%;
}

input{
    margin-top: 1%;
}

input[name="btnUpdatePassword"]{
    margin-left: 38%;
    height: 3vh;
}

/* ======== Critiques ======== */
.UserReview{
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 4px;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 43%;
    text-align: left;
    width: 28%;
    height: auto;
}

textarea{
    resize: none;
    width: 18vw;
    height: 4vh;
}

select{
    display: block;
    margin-top: -8%;
    margin-left: 80%;
    width: 3vw;
    height: 3vh;
}

input[name="btnConfirmEdit"]{
    margin-top: 4%;
    margin-left: 43%;
    width: 5vw;
    height: 3vh;
}

button{
    display: inline-block;
    width: 16%;
    height: 28px;
}